html {
    scroll-behavior: smooth;
}

body {

    min-height: 100vh;
    background-color: rgba(66, 13, 13, 0.84);
    color: white;

    display: flex;
}

#container {
    border: 10px solid rgb(0, 0, 0);
    width: max-content;
    min-height: fit-content;

    display: flex;
    flex-shrink: 1;
}

#controls {
    border: 2px solid black;
}

.cell {
    border: 1px solid black;
    background-color: white;
    width: 60px;
}

.columnCell {
    border: 1px solid black;
    background-color: white;
    width: 60px;
    height: 60px;
}
