html {
    scroll-behavior: smooth;
}

body {

    background-color: rgba(66, 13, 13, 0.84);
    color: white;

    display: flex;
    flex-basis: auto;
}

.title {
    margin: 5px;
}

.controls {
    border: 2px solid orange;
    margin: 5px;
}

.cell {

    width: 900px;
    height: fit-content;

    display: inline-flex;
    flex-direction: column;

    margin: 0;

    /* box-shadow: 5px 5px 10px black; */
}

.columnCell {

    flex-shrink: 2;

    width: 25px;
    height: 25px;

    border: 1px solid rgb(195, 195, 195);
    background-color: white;
    margin: 0;

}

.container {
   width: 500px;
    height: fit-content;
    display: inline-flex;
    
    

    border: 5px solid red;
}
