@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lemonada&family=Raleway&display=swap');

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(157, 158, 230);
    font-family: 'Lemonada', cursive;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    /* border: 1px solid black; */
    margin-top: -30px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.title p {
    margin-top: -25px;
}

button:hover {
    box-shadow: 5px 5px 8px rgb(197, 0, 0);
    transform: scale(1.1);
}

button {
    font-family: 'Lemonada', cursive;
    box-shadow: 3px 3px 8px black;
    width: 100px;
    background-color: aqua;
    border: 1px solid white;
    border-radius: 10px;

    margin-top: 30px;
    margin-bottom: 15px;
}


.gridContainer {
    /* border: 10px solid black;
    border-radius: 10px; */
    /* display: inline-grid; */
    height: 575px;
    width: 575px;

    box-shadow: 5px 5px 15px black;

    
}

.cells {
    background-color: white; 
    /* border: 1px solid black; */
    
}

footer {
    margin-top: 30px;
    font-size: 18px;
}